.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 0 2%;
    position: relative
}
.arrow-down {
    z-index: 5;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease;
}
.arrow-up {
    z-index: 5;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 6px;
    left: 10px;
    opacity: 0.5;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.arrow-down:hover,
.arrow-up:hover {
    opacity: 1;
}
.header-movies-list {
    margin: 2%;
    text-align: center;
}
.header-movies-list span {
    opacity: 0.5;
    font-size: 12px;
}
.arrow-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
