.header-menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: max-content;
    background-color: var(--background-accent-color);
    align-items: center;
    padding: 1%;
}
.logo {
    background-image: url('./assets/movie-logo.svg');
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.logo:hover {
    filter: drop-shadow(0 2px 9px var(--accent-color));
}
.element-nav {
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
.element-nav:hover {
    filter: drop-shadow(0 2px 9px var(--accent-color));
}
.header-menu-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}
.header-menu-search-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search { 
    position: relative;
}
.search input {
    display: flex;
    padding: 6px 10px;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: var(--grey-text-color);
}
.search input::placeholder {
    color: white;
    font-size: 18px;
    opacity: 0.5;
}
.search-icon {
    background-image: url('./assets/search-icon.svg');
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -28px;
    bottom: 13px;
    opacity: 0.5;
    cursor: pointer;
}
.search-icon:hover {
    opacity: 1;
}
.my-list-nav {
    width: 24px;
    height: 24px;
    background-image: url('./assets/user-list-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header-menu-login {
    display: flex;
    align-items: center;
    gap: 1rem
}
.login-title {
    opacity: 0.5;
    font-size: 14px;
}
.logout-btn {
    background-image: url('./assets/logout-icon.svg');
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
}
.user-name {
    opacity: 0.5;
}
@media (max-width: 768px) {
    .logo {
        width: 3rem;
        height: 3rem;
    }
    .element-nav {
        font-size: 18px;
    }
    .search input {
        padding: 6px 10px;
        width: 84%;
        height: 15px;
    }
    .search-icon {
        right: -16px;
        bottom: 6px;
    }
    .search input::placeholder {
        font-size: 12px;
    }
}
@media (max-width: 426px) {
    .logo {
        width: 3rem;
        height: 3rem;
    }
    .element-nav {
        font-size: 14px;
    }
    .search {
        margin-left: 108px;
        position: relative;
        margin-top: 1px;
    }
    .load-btn {
        width: 40px;
        height: 40px;
    }
}