.filter-container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 2% 11%;
    width: 98%; */
    gap: 10px;
    position: relative;
    margin: 2% auto;
    width: 1092px;
    
    
}
.dropdown {
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 45px;
    flex-direction: column;
    height: 69px;
    margin-right: 20px;

}
.error-filtered-list {
  margin: 3% auto;
  text-align: center
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  @media (max-width: 480px) {
    width: 4px;
    height: 4px;
  }
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.arrow-down:disabled,
.arrow-down[disabled] {
  display: none
}
.filter-button {
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 14px;
  font-size: 15px; 
}
.filter-button:hover {
  background-color: var(--accent-color);
}
.filter-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 31px;
  left: 0px;
  border: none;
  background-image: url('../../assets/filter-icon.svg');
  background-color: transparent;
  cursor: pointer;
}
.filter-icon:hover {
  background-image: url('../../assets/filter-icon-active.svg');
}
@media (max-width: 1441px) {
  .filter-icon {
    width: 24px;
    height: 24px;
    top: 31px;
    left: -116px;
}
}

@media (max-width: 1026px) {
  .filter-container {
      /* margin: 2% auto; */
      flex-direction: column;
      width: 93%;
  }
  .filter-button {
    padding: 7px 8px;
    width: 200px;
  }
  .dropdown {
      gap: 10px;
      margin-left: 99px;
      margin-right: unset;
  }
  .filter-icon {
    top: -4px;
    left: 4px;
    z-index: 50;
}
}
@media (max-width: 769px) {
  .dropdown {
    gap: 7px;
    flex-wrap: wrap;
    font-size: 11px;
    height:80px;
    margin-left: 30px;
  }
  .label {
    padding-right: 3px;
    font-size: 10px;
  }
  .filter-button {
    padding: 8px 11px;
    font-size: 11px;
  }
  .filter-container {
    flex-direction: column;
    width: 80%;
  }
  .filter-button {
    padding: 10px 13px;
    width: 284px;
  }
}
@media (max-width: 426px) {
  .filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% auto;
    width: 90%;
    gap: 10px;
    flex-wrap: wrap;
  }
  .dropdown {
    gap: 5px;
    flex-wrap: wrap;
    font-size: 10px;
    margin: auto;
  }
  .filter-button {
    padding: 8px 61px;
    font-size: 12px;
  }
  .filter-container {
    flex-direction: column;
  }
  .dropdown {
    flex-direction: column;
    height: max-content;
  }
}
